html {
  max-width: 1440px;
  margin: auto;
  background: var(--dark-green);
}

:root {
  --pink: #ef476fff;
  --orange: #ffd166ff;
  --green: #06d6a0ff;
  --light-blue: #118ab2ff;
  --dark-green: #073b4cff;
}

body {
  justify-content: center;
  overflow-x: hidden;
  margin: auto;
  height: 100%;
  background: rgb(135, 226, 196);
}

/* NAVBAR SECTION */

.navbar {
  background: var(--dark-green);
}

.navbar-brand {
  color: var(--orange);
}

.nav-link {
  color: var(--orange);
}

.toggler {
  background-color: var(--orange);
}

/* HOME */

header {
  /* height: 100%; */
  overflow: hidden;
}

header .container .row .welcome {
  padding-bottom: 5rem;
}

.panel-item {
  /* font-size: 100%; */
}

.cj {
  color: var(--light-blue);
}

.welcome-pic {
  padding: 0;
}

.pic {
  border-radius: 1rem;
}

.panel {
  position: absolute;
  top: 4vmin;
  left: 8vmin;
  background: var(--orange);
  border-radius: 3px;
  text-align: left;
  box-shadow: 0px 25px 42px rbg(0, 0, 0, 0.2);
  z-index: 1;
  color: (--dark-green);
}

.panel-item {
  color: var(--dark-green);
}

.panel-paragraph {
  background: var(--dark-green);
  color: var(--orange);
  padding: 1rem;
  border-radius: 1rem;
}

.home-row {
  position: relative;
}

/* ABOUT ME SECTION */

.about .container .row .thunderbirds {
  height: 25rem;
  width: 25rem;
}

.about .container .grownup .guitar {
  /* margin-top: 1rem; */
  height: 25rem;
}



.about-me-p1 {
  margin-top: 1rem;
}

.about-me-p2 {
  margin-top: 1rem;
}

/* DEV SECTION */

.dev {
  margin-left: 0.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.dev-p {
  right: 1rem;
}

.square {
  max-height: 0.5rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  margin-bottom: 5rem;
}

.logo {
  height: 5rem;
  padding-top: 1rem;
}

.logo-container {
  justify-content: space-around;
}

.devpic {
  height: 19rem;
  margin-bottom: 1rem;
}

.logo-container {
  padding-bottom: 0.5rem;
}



.projects-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-image {
  margin-top: 0.5rem;
  height: 10rem;
}

.project-cards {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 35rem;
}

.dev-card {
  margin-top: 1rem;
}



/* MUSIC SECTION */

.card {
  height: 25rem;
  margin-bottom: 1rem;
}

.music-website-image {
  height: 15rem;
}

.music {

  margin-bottom: 5rem;
}

.music-title {
  margin-bottom: 3rem;
}

.music-p {
  margin-bottom: 2rem;
}

.music-card {
  width: 25rem;

  margin-bottom: 1rem;
  background-color: var(--light-blue);
}

.card-title {
  color: var(--orange);
}

.card-text {
  color: var(--orange);
}

.card-body {
  background-color: var(--dark-green);
  opacity: 0.8;
}

/* CONTACT */



/* FOOTER */

footer {
  margin-top: 2rem;
  background-color: var(--dark-green);
}